In [2]:
#ASSIGNMENT 1
#Ritesh Mishra
#riteshofficial101@gmail.com

In [3]:
# Q1. Explain with an example each when to use a for loop and a while loop.

# For loop should be generally used when, the number of iterations are known.
# While loop should be generally be used when the numbe rof iterations are not known, here we just know the condition
# that when we want to stop the loop

# example

In [4]:
# for loop
# we want to print all the element from the list by using for loop

l1= [1,2,3,4,5,6,7,8,9]

for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
# while loop
# here we ant to print i as long as it is less than 8

i= 1;
while i< 8:
    print(i)
    i+=1

1
2
3
4
5
6
7

In [7]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
# and while loop.

# using for loop

In [1]:
sum = 0
product = 1
for i in range(1,11):
    sum= sum+i
    product= product*i
    i = i+1

print("sum is: ",sum," and product is: ",product)

sum is:  55  and product is:  3628800

In [ ]:
# using while loop

In [2]:
sum=0
prod=1
i=1
while i <11:
    sum= sum+i
    prod= prod*i
    i+=1

print("sum is: ",sum," and product is: ",prod)

sum is:  55  and product is:  3628800

In [ ]:
# Q3. Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
# You are required to take the units of electricity consumed in a month from the user as input.

#Your program must pass this test case: when the unit of electricity consumed by the user in a month is
# 310, the total electricity bill should be 2250.

In [5]:
unit = float(input(" please enter the number of units consumed in a month"))
bill_charge =0
if unit<=100:
    bill_charge= 4.5*unit
elif unit > 100 and unit<=200:
    bill_charge= 4.5*100 + 6*(unit-100)
elif unit > 200 and unit <=300:
    bill_charge= 4.5*100 +6*100 + 10*(unit-200)
else:
    bill_charge= 4.5*100 +6*100 + 10*100 + 20*(unit-300)
    
print("the bill for the month is: ",bill_charge)

 please enter the number of units consumed in a month 310

the bill for the minth is:  2250.0

In [6]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

In [2]:
l1= list(range(1,101))

In [3]:
l2=[]

In [4]:
for i in range(0,100):
 
    cube= l1[i]**3
 
    if (cube%4 == 0.0 or cube%5==0.0):
        l2.append(cube)
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [ ]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [10]:
string = "I want to become a data scientist"
count =0;
for i in range(len(string)):
    if( string[i] == 'a' or string[i]== 'A' or string[i] == 'e' or string[i]== 'E' or string[i] == 'i' or string[i]== 'I' or
       string[i] == 'o' or string[i]== 'O' or string[i] == 'u' or string[i]== 'U' ):
        count+=1
print(count)

12